.dubPage{
    margin: 0 auto;
    width: 100%;
    padding-inline: 1.3rem;
    padding-block-end: 1.4rem;
}

.title{
    color: var(--color-main);
    font-size: var(--font-size-display);
    text-align: center;
    font-weight: inherit;
    padding-block: calc(var(--header-height) + 0.3rem) 3.8rem;
}

@media (max-width: 750px) {
    .title{
        padding-block: 1rem 2.3rem;
    }

    .dubPage{
        padding-block-end: calc(var(--header-height) + 1.3rem);
    }
}