.dubPage{
    margin: 0 auto;
    width: 100%;
    padding-inline: 1.3rem;
    padding-block-end: 1rem;
}

.title{
    color: var(--color-main);
    font-size: var(--font-size-display);
    text-align: center;
    font-weight: inherit;
    padding-block: 3rem 4.5rem;
}