html, body, #root {
    min-height: 100dvh;
}

html {
    scroll-behavior: smooth;
}

#root {
    display: grid;
    place-items: center;
    height: auto;
}

body{
    background-color: var(--background-main);
}

body.locked {
    overflow-y: hidden;
    touch-action: none;
    overscroll-behavior: contain;
}

section {
    height: 100%;
}

@media (prefers-color-scheme: light) {
    :root{
        --color-main: oklch(0.2181 0 50);
        --background-main: oklch(0.9214 0 50);
    }
}

@media (prefers-color-scheme: dark) {
    :root{
        --color-main: oklch(0.9214 0 50);
        --background-main: oklch(0.2181 0 50);
    }
}

[data-color-scheme="dark"] {
    --color-main: oklch(0.9214 0 50);
    --background-main: oklch(0.2181 0 50);
    --modal-background: oklch(0.264 0 89.876);
}

[data-color-scheme="light"]{
    --color-main: oklch(0.2181 0 50);
    --background-main: oklch(0.9214 0 50);
    --hover-background: oklch(0.468 0 89.876 / 0.85);
    --modal-background: oklch(0.524 0 89.876);
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
        view-transition-name: none !important;
    }
}


@media (max-width: 750px) {
    button {
        -webkit-tap-highlight-color: transparent;
    }
}
