.button{
    width: clamp(110px, 4vw, 120px);
    aspect-ratio: 1 / 1;
    background: linear-gradient(to bottom, var(--bg-color), color-mix(in hsl, var(--bg-color) 100%, black 30%));
    border-radius: 0.6rem;
    position: relative;
    transition: transform 0.3s;
}

.button::after{
    content: attr(data-first-symbol);
    color: oklch(0.9214 0 50);
    font-family: monospace;
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button::before{
    content: "";
    position: absolute;
    min-width: 83px;
    border-radius: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background: linear-gradient(to left, var(--bg-color), color-mix(in hsl, var(--bg-color) 100%, black 20%));
}


.button:active{
    transform: scale(0.9);
}