.button{
    min-width: 120px;
    max-width: 120px;
    aspect-ratio: 1 / 1;
    background-color: var(--background-button);
    border-radius: 9999px;
    position: relative;
    box-shadow: inset 0 3px 20px black;
}

.button::before{
    content: "";
    border-radius: inherit;
    background-color: var(--bg-random);
    position: absolute;
    min-width: 100px;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: transform 250ms;
    transform-origin: center;
    box-shadow: inherit;
}


.button:active::before{
    transform: translateX(-50%) scale(0.9);
}