.item {
    border-radius: 9999px;
    color: var(--color-main);
    font-size: var(--dubbing-item-fz);
    font-family: sans-serif;
    user-select: none;
    position: relative;
    flex: 1 0 auto;
    min-width: fit-content;
}


.link {
    padding-inline: 1.3rem;
    padding-block: 0.7rem;
    display: inline-block;
    width: 100%;
}


::view-transition-old(item) {
    animation: scaleOut 0.4s ease both;
}

::view-transition-new(item) {
    animation: scaleIn 0.4s ease both;
}

@keyframes scaleOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

