.copyLink {
    aspect-ratio: 1 / 1;
    width: 27px;
    mask-position: center;
    -webkit-mask-image: url("/public/icons/link.svg");
    mask-repeat: no-repeat;
    mask-size: cover;
    background-color: var(--color-main);
    border-radius: 0.4rem;
    transition: background-color 0.3s ease;
    position: relative;
}

@media (any-hover: hover) {
    .copyLink:hover {
        background-color: deepskyblue;
    }
}

.copyLink:active {
    background-color: deepskyblue;
}

