.playerSection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.4rem;
    width: clamp(300px, 70vw, 800px);
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    height: 100svh;
}

.button{
    border-radius: 99999px;
    width: 10rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 300ms;
    background: linear-gradient(to left, #272727, color-mix(in hsl, #272727 90%, #ffffff 10%));
    position: relative;
    z-index: 1;
}

.button:before{
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    z-index: -1;
    transform: scale(0.8);
    background: linear-gradient(to right, #272727, color-mix(in hsl, #272727 90%, #ffffff 10%));
}


.icon{
    color: var(--color-main);
    transition: color 300ms;
}

.button:hover .icon{
    color: rgba(0, 191, 255, 0.54);
}

.title{
    font-family: Inter, sans-serif;
    text-wrap: balance;
    color: var(--color-main);
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
}

[data-color-scheme="light"] .title{
    color: var(--background-main);
}